.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-800 {
    font-weight: 800;
}

.fs-title {
    font-size: 90px;
    margin-bottom: -30px !important;
}

.fs-large {
    font-size: 20px;
}

.fs-normal {
    font-size: 16px;
}

.fs-small {
    font-size: 14px;
}

.fs-extra-small {
    font-size: 12px;
}