@use "../styles/global.scss" as g;

.icon {
    height: 16px;
    width: 16px;
}

.profile-picture {
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.timeline-point {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    border: 1px solid g.$color-primary;
}

.timeline-line {
    border-right: 1px solid g.$color-primary;
    position: relative;
}

.emphasis-border {
    border-left: 5px solid g.$color-tertiary;
}