@use "../styles/global.scss" as g;

.icon {
    height: 16px;
    width: 16px;
}

.profile-picture {
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.emphasis-border {
    border-left: 5px solid g.$color-tertiary;
}

@media (max-width: 390px) {
    .profile-picture {
        height: 120px;
        width: 120px;
    }
}